/* font style ---------- */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}
/* header  */
header{
  font-weight: 800;
  font-size: 24px;
  margin-left: 70px;
  margin-top: 40px;
}
/* main section ------------------------------------------------
----------------------------------------------------------- */

 

.camera-section{
    display: flex;
    flex-direction:row;
    
    margin: 60px ;
   
     justify-content: center;
    align-items: center;
}
   
.influencer{
    width: 42%;
  
    
  
}
.influencer img{
    width: 80%;

}
.camera{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    
  
}

.first-tittle{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Cookie', cursive;
font-family: 'Poppins', sans-serif;
    
}


    



.button{
    text-decoration: none;
    background-color: #e22e6d;
    color:rgba(255,255,255,255);
    font-weight: 600;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 11px;
    
    
}
.fas{
    margin-left: 10px;
}


/* populer collection -------------------------------------------------------------- */
.collections-title{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.container{
    display: grid;
    justify-content: center;
    margin-top: 50px;
    
}

.All-colletions{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    
 
    
}

.color{
    color: #FFC014;
}
   


.product img{
    width: 250px;
}


.items{
    

    height: auto;
    width: 270px;
    box-shadow: 1px 1px 8px;
    border-radius: 10px;
    padding: 30px 40px;
    align-items: center;

}
.item-title{
    font-size: 22px;
}
.page{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
 
.page-button{
    text-decoration: none;
    color:#e22e6d ;
    font-weight: 700;
    font-size: 18px;

}
 /* LAST section  ------------------------------------------------------------------------------------------------------------------------------------- */

 
    
    
    
   
    
    
  
 
    
    

   

/* .banner img{
    
width: 400px;
height: 250px; */


/* footer part -------------------------

---------------------------------------
*/

footer{
   text-align: center;

    background-color: #0a0826;
    height: 250px;
    color:white ;
    margin-top: 50px;
    padding-top: 8px;
    
}
.fab{
    padding: 5px;
}
/* end ------------------------------ */
/* responsive -----------------------------------------
-----------------------------
 */
 /* mobie devices-------------- */
@media only screen and (max-width:688px) {
    .camera-section{
        display: flex;
        flex-direction:column;
        width: 100%;
        
        
       
         justify-content: center;
        
    }
    .container{
        display: grid;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
    }
    .All-colletions{
        display: grid;
        grid-template-columns: repeat(1,  1fr);
        grid-row-gap: 50px;
        
    }
    .page{
        display: flex;
        flex-direction: column;
        
        
    }
        


    
}

/* tablet devices ---------------------------
-----------------------*/


@media only screen and (min-width:688px) and (max-width:992px) {
    header{
        text-align: center;
    }
    .container{
        display: grid;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
    }
    .All-colletions{
        display: grid;
        grid-template-columns: repeat(2,  1fr);
        grid-row-gap: 50px;}
    
}
/* end --------------------------------














-
------------------------------------------------------*/