/* font style ---------- */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
/* header  */
header{
  font-weight: 800;
  margin-left: 70px;
  margin-top: 40px;
}
/* main section ------------------------------------------------
----------------------------------------------------------- */

.camera-section{
    display: flex;
    flex-direction:row;
    
    margin: 60px ;
   
    justify-content: center;
    align-items: center;
}
   
.influencer{
    width: 42%;
  
    
  
}
.influencer img{
    width: 85%;

}
.camera{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    
  
}

.first-tittle{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Cookie', cursive;
font-family: 'Poppins', sans-serif;
    
}


    



.button{
    text-decoration: none;
    background-color: #e22e6d;
    color:rgba(255,255,255,255);
    font-weight: 600;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 11px;
    
    
}
.fas{
    margin-left: 10px;
}


